## What's Next

### Authentication & Authorization

<%= partial("direction/manage/auth/templates/next") %>

### Compliance

<%= partial("direction/manage/compliance/templates/next") %>

### Workspace

<%= partial("direction/manage/workspace/templates/next") %>

### Optimize

<%= partial("direction/manage/value_stream_management/templates/next") %>

### Import

<%= partial("direction/manage/importers/templates/next") %>

#### What we're not doing

* Improvements to user profiles and user management, as defined on the [Users direction page](https://about.gitlab.com/direction/manage/users/#users)

<%= partial("direction/manage/importers/templates/not_doing") %>
